# Based on (probably) https://gist.github.com/pksunkara/988716
# Other sources should be attributed in comments.

# Used with git 2.9

[user]
	name = Mateusz Konieczny
	email = matkoniecz@gmail.com
[credential "https://github.com"]
	username = matkoniecz
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[alias]
	a = add
	aa = add -u .
	aaa = add --all
	ai = add -p
	ap = add -p
	#############
	rv = revert
	#############
	b = branch
	ba = branch -a #option -a shows both local and remote branches
	bd = branch -d
	br = branch -r #Option -r causes the remote-tracking branches to be listed
	

	#http://stackoverflow.com/questions/5188320/how-can-i-get-a-list-of-git-branches-ordered-by-most-recent-commit

	bl2 = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'

	bl = "!r() { cur=$(git rev-parse --abbrev-ref HEAD); git for-each-ref --sort=-committerdate refs/heads/ --format='%(color:bold yellow)%(refname:short)|%(color:dim white)%(subject)|%(color:dim white)%(authorname)%(color:reset)|%(color:dim green)%(committerdate:relative)' | sed \"s/m${cur}|/m* ${cur}|/\" | column -ts'|'; }; r"
	#############
	c = commit -m
	#cal = commit --all -m #Tell the command to automatically stage files that have been modified and deleted, but new files you have not told Git about are not affected.
	ca = commit --amend
	caa = commit --amend --no-edit
	cp = cherry-pick
	#############
	d = diff --find-renames
	dc = diff --find-renames --cached
	dl = difftool
	dlc = difftool --cached
	dp = diff --find-renames --patience
	#############
	f = fetch --prune
	fo = fetch origin --prune
	fu = fetch upstream --prune
	#############
	#fp = format-patch
	#############
	#fk = fsck
	#############
	#g = grep -p
	#############
	i = "!git init; git commit --allow-empty -m \"empty initial commit\""
	#############
	i = "!git init; git commit --allow-empty -m \"empty initial commit\""
	orphan = "!gitk --all --date-order `git reflog | cut -c1-7`"
	#############
	#from https://coderwall.com/p/euwpig/a-better-git-log
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --decorate --all -n 10
	lf = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --decorate --all
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --decorate --all
	ls = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s" #http://stackoverflow.com/a/1838938/4130619
	ls = log --oneline

	#http://stackoverflow.com/questions/1057564/pretty-git-branch-graphs
	tree = log --all --graph --decorate=short --color --format=format:'%C(bold blue)%h%C(reset) %C(auto)%d%C(reset)\n         %C(black)[%cr]%C(reset)  %x09%C(black)%an: %s %C(reset)'
	#############
	#ls = ls-files
	#lsf = "!git ls-files | grep -i"
	#############
	m = merge
	mum = "!git fetch upstream; git checkout master; git merge upstream/master; git push" 
	ma = merge --abort
	#mc = merge --continue
	#ms = merge --skip
	#############
	o = checkout
	om = checkout master
	ob = checkout -b
	#############
	ps = push
	psf = push -f #-force
	psu = push --set-upstream #-u
	pso = push origin
	#psao = push --all origin
	#psfo = push -f origin
	#psuo = push -u origin
	#psom = push origin master
	#psfom = push -f origin master
	#psuom = push -u origin master
	#############
	pl = pull
	#plo = pull origin
	plu = pull upstream
	#plom = pull origin master
	#plpm = pull upstream master
	#############
	#pb = pull --rebase
	#pbo = pull --rebase origin
	#pbp = pull --rebase upstream
	#pbom = pull --rebase origin master
	#pbpm = pull --rebase upstream master
	#############
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --interactive
	rbs = rebase --skip
	#############
	re = reset
	#rh = reset HEAD
	reh = reset --hard
	#rem = reset --mixed
	#res = reset --soft
	#rehh = reset --hard HEAD
	#remh = reset --mixed HEAD
	#resh = reset --soft HEAD
	#############
	r = remote
	ra = remote add
	rr = remote rm
	#rv = remote -v #conflicts with revert
	rp = remote prune
	rs = remote show
	rao = remote add origin
	so = remote show origin
	rpo = remote prune origin
	#############
	sf = status
	s = status -s -b
	#############
	#sa = stash apply
	#sc = stash clear
	#sd = stash drop
	#sl = stash list
	#sp = stash pop
	#ss = stash save
	#sw = stash show
	#############
	t = for-each-ref --format '%(refname) %09 %(taggerdate) %(subject) %(taggeremail)' refs/tags  --sort=taggerdate
	#############
	#assume = update-index --assume-unchanged
	#unassume = update-index --no-assume-unchanged
	#assumed = "!git ls-files -v | grep ^h | cut -c 3-"
	#unassumeall = !git assumed | xargs git update-index --no-assume-unchanged
	#assumeall = "!git st -s | awk {'print $2'} | xargs git assume"
	#############
	#ours = "!f() { git checkout --ours $@ && git add $@; }; f"
	#theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
	#############
	#whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
	#whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
	#############
	#barebranch = !sh -c 'git symbolic-ref HEAD refs/heads/$1 && git rm --cached -r . && git clean -xfd' -
	#flat = clone --depth 1
	#subpull = !git submodule foreach git pull --tags origin master
	#subrepo = !sh -c 'filter-branch --prune-empty --subdirectory-filter $1 master' -
	#human = name-rev --name-only --refs=refs/heads/*
	#serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
	#snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
	#############
	#Shows one or more objects (blobs, trees, tags and commits).
  #
  #For commits it shows the log message and textual diff. It also presents the merge commit in a special format as produced by git diff-tree --cc.
  #
  #For tags, it shows the tag message and the referenced objects.
  #
  #For trees, it shows the names (equivalent to git ls-tree with --name-only).
  #
  #For plain blobs, it shows the plain contents.
  #
  #The command takes options applicable to the git diff-tree command to control how the changes the commit introduces are shown.
  #
  #w = show
	#wp = show -p
	#wr = show -p --no-color
	#############
	#git-apply - Apply a patch to files and/or to the index
	#ap = apply
	#as = apply --stat
	#ac = apply --check
	#############
	ru = "!rubocop -DES"
	rua = "!rubocop -DESa ; git aa ; git dc"
	rur = "!rubocop -DESR"
	rura = "!rubocop -DESRa ; git aa ; git dc"
	ruta = "!rubocop --auto-gen-config ; git aa ; git dc"
[diff]
	tool = meld
[difftool]
	prompt = false
[push]
	default = current
[credential]
	helper = cache --timeout=360000
[core]
	quotepath = false #properly display UTF filenames
	editor = /opt/sublime_text/sublime_text --wait
	excludesfile = ~/.gitignore_global
